@page "/"
@inherits LayoutComponentBase

<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Welcome to Your Website</h1>
        <p class="lead">This is a simple and elegant home page created using Blazor and Bootstrap.</p>
        <hr class="my-4">
        <p>It's a great starting point for building your own website.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
